<?php

namespace {{servicePackage}};

use JMS\Serializer\Context;
use JMS\Serializer\JsonDeserializationVisitor;

class StrictJsonDeserializationVisitor
{
   public function __construct() {
       
   }
}