<div class="container" style="height: 80vh; display: flex; align-items: center; align-content: center; flex-direction: column;justify-content: center;">
    <h1>Successfuly Logged As :</h1>
    <mat-card >
        <p>Username : <strong>{{ currentUser.username }} </strong></p>
        <p>LastName :  <strong>{{ currentUser.lastName }}</strong> </p>
        <p>LastName :  <strong>{{ currentUser.lastName }}</strong> </p>
        <p>CreationDate : {{ currentUser.creationDate }} </p>
        <p>UpdateDate : {{ currentUser.updateDate }} </p>
    </mat-card>
</div>