<div class="container" >
    <h1>Successfuly Logged As :</h1>

    <mat-card class="mat-card-user-info" *ngIf="currentUser">
        <p>Email : <strong>{{ currentUser.email }} </strong></p>
        <p>LastName : <strong>{{ currentUser.lastName }}</strong> </p>
        <p>LastName : <strong>{{ currentUser.lastName }}</strong> </p>
        <p>CreationDate : {{ currentUser.creationDate }} </p>
        <p>UpdateDate : {{ currentUser.updateDate }} </p>

        <button style="margin-top: 20px;" mat-raised-button color="accent" (click)="currentUserService.logout()">
            <i>🏃‍♂️</i>
            <span>Logout</span>
        </button>
    </mat-card>

   
</div>